@model Dictionary<int, string>

<div class="row">
    <div class="col-md-3">
        @{
            foreach (KeyValuePair<int, string> item in Model)
            {
                <p>The key is: @item.Key</p>
            }
        }
        </div>
        <div class="col-md-3">
            @{
                foreach (KeyValuePair<int, string> item in Model)
            {
                    <p>The key is: @item.Value</p>
                }
            }
        </div>
</div>